body{background-color:hsl(255 0% 90%);
display:flex;
justify-content:center;
align-items:center;
}

.count-down{display:flex;
justify-content:space-around;
margin:0 65px 0 0;
flex-wrap:wrap;}

.days, .hours, .mins, .seconds{margin-left:10px;}



h1{font-weight:bold;
font-size:40px;}

p{font-weight:bold;
font-size:45px;
margin:0;}

span{margin-left:12px;
font-size:15px;}